{% extends 'base.html' %}
{% load static %}

{% block metadata %}
    <title>Meeting - Room Comments</title>
    <!--
    Custom Head Elements (Like Styles)
    ========================================
    If You Want To Add Something To Head Tag Put it Below Of This Comment
    ========================================
    -->
    <style>
        .widget-card-one {
            background: #fff;
            padding: 20px 0 !important;
        }

        .widget-content .media {
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 19px;
            padding-bottom: 21px;
            border-bottom: 1px dashed #e0e6ed;
        }

        .widget-content .media .w-img {
            margin-right: 10px;
            align-self: center;
        }

        .widget-content .media img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid #e0e6ed;
        }

        .widget-content .media-body {
            align-self: center;
        }

        .media-body h6 {
            font-weight: 700;
            font-size: 15px;
            letter-spacing: 0;
            margin-bottom: 0;
        }

        .media-body p {
            font-size: 13px;
            letter-spacing: 0;
            margin-bottom: 0;
            font-weight: 600;
            color: #888ea8;
            padding: 0;
        }


        .widget-content p {
            font-weight: 600;
            font-size: 14px;
            padding: 0 20px;
            display: inline-block;
            width: 100%;
        }

        .widget-content .w-action {
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
        }

        .w-action span {
            vertical-align: sub;
            font-weight: 700;
            color: #0e1726;
            letter-spacing: 1px;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <!--
    Customize Below Code For Your Page
    ========================================
    First Li Represents Main App (Most of the time)
    Second One Is Name Of Page
    ========================================
    -->

    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Meeting</li>
            <li class="breadcrumb-item active" aria-current="page">Room Comments</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <!--
    Content Section Finding in .html Files
    ========================================
    For Template Pages, Put Child Elements of *STAR* Div, Below Of This Comment
    *STAR* = <div class="row layout-top-spacing">
    Note: Search Above Div in Page You Are Working With
    ========================================
    -->
    <h2 class="tw-text-center tw-font-bold tw-text-xl tw-pb-3 tw-border-b tw-mb-5">{{ room.title }}</h2>

    <div>
        {% include 'meeting/comments.html' with comments=comments %}
    </div>

{% endblock %}

{% block scripts %}
    <!--
    Custom Scripts
    ========================================
    You Can Add Some JavaScript Code After All Other Js Codes

    Example1 - Code Below, Must Be Paste Below This Comment:
    <script>console.log("Hello World!")</script>
    ========================================
    -->
{% endblock %}
