{% extends 'base.html' %}

{% block metadata %}
    <title>Login</title>
    <!--
    Custom Head Elements (Like Styles)
    ========================================
    If You Want To Add Something To Head Tag Put it Below Of This Comment
    ========================================
    -->

{% endblock %}

{% block breadcrumb %}
    <!--
    Customize Below Code For Your Page
    ========================================
    First Li Represents Main App (Most of The Times)
    Second One Is Name Of Page
    ========================================
    -->

    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">Login</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <!--
    Content Section Finding in .html Files
    ========================================
    For Template Pages, Put Child Elements of *STAR* Div, Below Of This Comment
    *STAR* = <div class="row layout-top-spacing">
    Note: Search Above Div in Page You Are Working With
    ========================================
    -->
    <div class="auth-container d-flex">

        <div class="container mx-auto align-self-center">

            <div class="row">

                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center mx-auto">
                    <div class="card mt-3 mb-3">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-12 mb-3">

                                    <h2>Sign In</h2>
                                    <p>Enter your email and password to login</p>

                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-4">
                                        <label class="form-label">Password</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>


                                <div class="col-12">
                                    <div class="mb-4">
                                        <button class="btn btn-secondary w-100">SIGN IN</button>
                                    </div>
                                </div>


                                <div class="col-sm-4 col-12">
                                    <div class="mb-4">

                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="text-center">
                                        <p class="mb-0">Dont't have an account ? <a href="javascript:void(0);"
                                                                                    class="text-warning">Sign Up</a></p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block scripts %}
    <!--
    Custom Scripts
    ========================================
    You Can Add Some JavaScript Code After All Other Js Codes

    Example1 - Code Below, Must Be Paste Below This Comment:
    <script>console.log("Hello World!")</script>
    ========================================
    -->
{% endblock %}
