{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>2 Step Verification Boxed | CORK - Multipurpose Bootstrap Dashboard Template </title>
    <link rel="icon" type="image/x-icon" href="https://designreset.com/cork/html/src/assets/img/favicon.ico"/>
    <link href="{% static 'layouts/vertical-light-menu/css/light/loader.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'layouts/vertical-light-menu/css/dark/loader.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'layouts/vertical-light-menu/loader.js' %}"></script>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'src/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

    <link href="{% static 'layouts/vertical-light-menu/css/light/plugins.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'src/assets/css/light/authentication/auth-boxed.css' %}" rel="stylesheet" type="text/css"/>

    <link href="{% static 'layouts/vertical-light-menu/css/dark/plugins.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'src/assets/css/dark/authentication/auth-boxed.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <script>
        function openPopup(url) {
            var width = 600; // Width of the popup window
            var height = 400; // Height of the popup window

            // Calculate the position of the popup window
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 2;

            // Open a new window with the specified URL
            var popupWindow = window.open(url, "_blank", "width=" + width + ",height=" + height + ",left=" + left + ",top=" + top);
            if (popupWindow) {
                popupWindow.focus();
            } else {
                alert("Please allow pop-ups for this site.");
            }
        }
    </script>

</head>

<body class="form">

<!-- BEGIN LOADER -->
<div id="load_screen">
    <div class="loader">
        <div class="loader-content">
            <div class="spinner-grow align-self-center"></div>
        </div>
    </div>
</div>
<!-- END LOADER -->

<div class="auth-container d-flex h-100">

    <div class="container mx-auto align-self-center">

        <div class="row">

            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center mx-auto">
                <div class="card mt-3 mb-3">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-12 mb-3">

                                <h2>Phone Number Authentication</h2>
                                <p>Enter the code for authentication.</p>

                            </div>
                            <form method="post" action="/users/phone_auth/">
                                {% csrf_token %}
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" name="otp">
                                        <span class="text-danger">{{ error }}</span>
                                    </div>
                                </div>

                                <div class="col-12 mt-4">
                                    <div class="mb-4">
                                        <button type="submit" class="btn btn-secondary w-100">VERIFY</button>
                                    </div>
                                </div>
                            </form>
                            <div class="col-12">
                                <div class="text-center">
                                    <p class="mb-0">Didn't receive the code ? <a href="/users/phone_auth/"
                                                                                 class="text-warning">Resend</a></p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="{% static 'src/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->

</body>

</html>
