{% extends 'base.html' %}
{% load static %}

{% block metadata %}
    <title>Profile</title>
    <!--
    Custom Head Elements (Like Styles)
    ========================================
    If You Want To Add Something To Head Tag Put it Below Of This Comment
    ========================================
    -->
    {#    <link rel="stylesheet" href="{% static 'src/assets/css/dropify.min.css' %}">#}
    <style>
        .dropify-wrapper .dropify-message p {
            font-size: 16px;
        }

        .general-info {
            background-color: transparent;
            border-radius: 6px;
        }

        .info {
            padding: 20px;
        }


        label {
            color: #515365;
            letter-spacing: 1px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://jeremyfagis.github.io/dropify/dist/css/dropify.min.css">
    <link rel="stylesheet" href="{% static 'src/assets/css/datatables.min.css' %}">

{% endblock %}

{% block breadcrumb %}
    <!--
    Customize Below Code For Your Page
    ========================================
    First Li Represents Main App (Most of the time)
    Second One Is Name Of Page
    ========================================
    -->

    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <!--
    Content Section Finding in .html Files
    ========================================
    For Template Pages, Put Child Elements of *STAR* Div, Below Of This Comment
    *STAR* = <div class="row layout-top-spacing">
    Note: Search Above Div in Page You Are Working With
    ========================================
    -->

    <div class="account-content">

        <div class="row mb-3">
            <div class="col-md-12">

                <ul class="nav nav-pills" id="animateLine" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="animated-underline-home-tab" data-bs-toggle="tab"
                                href="#animated-underline-home" role="tab" aria-controls="animated-underline-home"
                                aria-selected="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            Home
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="animated-underline-profile-tab" data-bs-toggle="tab"
                                href="#animated-underline-profile" role="tab" aria-controls="animated-underline-profile"
                                aria-selected="false" tabindex="-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-dollar-sign">
                                <line x1="12" y1="1" x2="12" y2="23"></line>
                                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                            </svg>
                            My Meetings
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content" id="animateLineContent-4">
            <div class="tab-pane fade active show" id="animated-underline-home" role="tabpanel"
                 aria-labelledby="animated-underline-home-tab">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                        {% if messages %}
                            <div class="alert alert-dismissible" role="alert">
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
                                         role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <form class="section general-info" method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="info">
                                <h6 class="">Profile Information</h6>
                                <div class="row">
                                    <div class="col-lg-11 mx-auto">
                                        <div class="row">
                                            <div class="col-xl-3 col-lg-12 col-md-4">
                                                <div class="profile-image  mt-4 pe-md-4">
                                                    <div class="form-group" id="image_uploader">
                                                        <label for="profile_img" class="d-none">Profile Image</label>
                                                        {{ form.image }}
                                                    </div>
                                                    <!-- Render image field with form.image -->
                                                    {{ form.image.errors }}
                                                    <!-- Render image field errors if any -->
                                                </div>
                                            </div>
                                            <div class="col-xl-9 col-lg-12 col-md-8 mt-md-0 mt-4">
                                                <div class="form">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                {{ form.username.label_tag }}
                                                                {{ form.username }}
                                                                <!-- Render username field with label and input -->
                                                                {{ form.username.errors }}
                                                                <!-- Render username field errors if any -->
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                {{ form.first_name.label_tag }}
                                                                {{ form.first_name }}
                                                                {{ form.first_name.errors }}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                {{ form.last_name.label_tag }}
                                                                {{ form.last_name }}
                                                                {{ form.last_name.errors }}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                {{ form.email.label_tag }}
                                                                {{ form.email }}
                                                                {{ form.email.errors }}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                {{ form.phone_number.label_tag }}
                                                                {{ form.phone_number }}
                                                                {{ form.phone_number.errors }}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="lead">Is Lead:</label>
                                                                <p id="lead"
                                                                   class="form-control">{{ request.user.is_lead }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 mt-1">
                                                            <div class="form-group text-end">
                                                                <button type="submit" class="btn btn-secondary">Save
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="animated-underline-profile" role="tabpanel"
                 aria-labelledby="animated-underline-profile-tab">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                        <div class="section general-info">
                            <div class="info">
                                <h6 class="">Meetings Information</h6>
                                <div class="table-responsive">
                                    <table id="example1" class="table table-bordered table-striped datatable_custom">
                                        <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Team</th>
                                            <th>Room</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Status</th>
                                            {% if user.is_lead or user.is_superuser %}
                                                <th>Edit</th>{% endif %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for meeting in meetings %}
                                            <tr>
                                                <td>{{ meeting.title }}</td>
                                                <td>{{ meeting.team.title }}</td>
                                                <td>{{ meeting.room.title }}</td>
                                                <td>{{ meeting.start_date|date:"Y-m-d H:i" }}</td>
                                                <td>{{ meeting.end_date|date:"Y-m-d H:i" }}</td>
                                                <td>{% if meeting.get_status == 'Passed' %}
                                                    <a href="{% url 'meeting:create_comment' pk=meeting.room.id %}">{{ meeting.get_status }}</a>{% else %}
                                                    {{ meeting.get_status }}{% endif %}</td>
                                                {% if user.is_lead %}
                                                    <td><a href="{% url 'edit_meeting' pk=meeting.id %}">Edit</a>
                                                    </td>{% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!--
    Custom Scripts
    ========================================
    You Can Add Some JavaScript Code After All Other Js Codes

    Example1 - Code Below, Must Be Paste Below This Comment:
    <script>console.log("Hello World!")</script>
    ========================================
    -->

    <script type="text/javascript" src="https://jeremyfagis.github.io/dropify/dist/js/dropify.min.js"></script>

    <script>
        $('.dropify').dropify();
        const dropify = $('.dropify-wrapper')
        dropify.addClass('rounded-circle')
        $(document).ready(function () {
            $("#image_uploader").children().not(".dropify-wrapper.rounded-circle").remove();


            // Find the target child element
            var targetChild = $(".dropify-wrapper.rounded-circle");

            // Find the text node preceding the target child element
            var textNode = targetChild.parent().contents().filter(function () {
                return this.nodeType === 3; //
            });

            // Remove the text node
            textNode.remove();

        })


    </script>

    <script src="{% static 'src/assets/js/datatables.min.js' %}"></script>
    <script>
        $('.datatable_custom').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'autoWidth': true,
            "order": [],
            "pageLength": 10,
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All']
            ],
        });
    </script>

{% endblock %}
