{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Sign Up</title>
    <link rel="icon" type="image/x-icon" href="https://designreset.com/cork/html/src/assets/img/favicon.ico"/>
    <link href="{% static '/layouts/vertical-light-menu/css/light/loader.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static '/layouts/vertical-light-menu/css/dark/loader.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static '/layouts/vertical-light-menu/loader.js' %}"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static '/src/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static '/layouts/vertical-light-menu/css/light/plugins.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static '/src/assets/css/light/authentication/auth-boxed.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static '/layouts/vertical-light-menu/css/dark/plugins.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static '/src/assets/css/dark/authentication/auth-boxed.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
</head>
<body class="form">
<!-- BEGIN LOADER -->
<div id="load_screen">
    <div class="loader">
        <div class="loader-content">
            <div class="spinner-grow align-self-center"></div>
        </div>
    </div>
</div>
<!--  END LOADER -->
<div class="auth-container d-flex">
    <div class="container mx-auto align-self-center">
        <div class="row">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column align-self-center mx-auto">
                <div class="card mt-3 mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <h2>Sign Up</h2>
                                <p>Enter your email and password to register</p>
                            </div>
                            <form method="post" enctype="multipart/form-data" action="/users/sign_up/">
                                {% csrf_token %}
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Username</label>
                                        {{ form.username }}
                                        {% for error in form.username.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        {{ form.email }}
                                        {% for error in form.email.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Phone Number</label>
                                        {{ form.phone_number }}
                                        {% for error in form.phone_number.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Password</label>
                                        {{ form.password1 }}
                                        {% for error in form.password1.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label class="form-label">Confirm Password</label>
                                        {{ form.password2 }}
                                        {% for error in form.password2.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Image</label>
                                            {{ form.image }}
                                            {% for error in form.image.errors %}
                                                <span class="text-danger">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-4">
                                        <button type="submit"
                                                class="btn btn-secondary w-100">SIGN UP
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="col-12">
                                <div class="text-center">
                                    <p class="mb-0">Already have an account ? <a href="javascript:void(0);"
                                                                                 class="text-warning">Sign in</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="{% static '/src/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->

</body>
</html>
