{% extends 'base.html' %}
{% load static %}

{% block metadata %}
    <title>Admin - Add Room</title>
    <!--
    Custom Head Elements (Like Styles)
    ========================================
    If You Want To Add Something To Head Tag Put it Below Of This Comment
    ========================================
    -->
    {#    <link rel="stylesheet" href="{% static 'src/assets/css/dropify.min.css' %}">#}
{% endblock %}

{% block breadcrumb %}
    <!--
    Customize Below Code For Your Page
    ========================================
    First Li Represents Main App (Most of the time)
    Second One Is Name Of Page
    ========================================
    -->

    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Room</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <!--
    Content Section Finding in .html Files
    ========================================
    For Template Pages, Put Child Elements of *STAR* Div, Below Of This Comment
    *STAR* = <div class="row layout-top-spacing">
    Note: Search Above Div in Page You Are Working With
    ========================================
    -->

    <div class="account-content">


        <div class="tab-content" id="animateLineContent-4">
            <div class="tab-pane fade active show" id="animated-underline-home" role="tabpanel"
                 aria-labelledby="animated-underline-home-tab">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                        {% if messages %}
                            <div class="alert alert-dismissible" role="alert">
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
                                         role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <form class="section general-info" method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="info">
                                <h6 class="">Room Information</h6>
                                <div class="row">
                                    <div class="col-lg-11 mx-auto">
                                        <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-8 mt-md-0 mt-4">
                                                <div class="form">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                {{ form.title.label_tag }}
                                                                {{ form.title }}
                                                                <!-- Render title field with label and input -->
                                                                {{ form.title.errors }}
                                                                <!-- Render username field errors if any -->
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                {{ form.is_active.label_tag }}
                                                                {{ form.is_active }}
                                                                {{ form.is_active.errors }}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 mt-1">
                                                            <div class="form-group text-end">
                                                                <button type="submit" class="btn btn-secondary">Save
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!--
    Custom Scripts
    ========================================
    You Can Add Some JavaScript Code After All Other Js Codes

    Example1 - Code Below, Must Be Paste Below This Comment:
    <script>console.log("Hello World!")</script>
    ========================================
    -->
{% endblock %}
