{% extends 'base.html' %}

{% block metadata %}
    <title>Admin - Teams</title>
    <!--
    Custom Head Elements (Like Styles)
    ========================================
    If You Want To Add Something To Head Tag Put it Below Of This Comment
    ========================================
    -->

{% endblock %}

{% block breadcrumb %}
    <!--
    Customize Below Code For Your Page
    ========================================
    First Li Represents Main App (Most of The Times)
    Second One Is Name Of Page
    ========================================
    -->

    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Main</a></li>
            <li class="breadcrumb-item active" aria-current="page">Example</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <!--
    Content Section Finding in .html Files
    ========================================
    For Template Pages, Put Child Elements of *STAR* Div, Below Of This Comment
    *STAR* = <div class="row layout-top-spacing">
    Note: Search Above Div in Page You Are Working With
    ========================================
    -->
    
    <div class="widget-content widget-content-area">
                                    <div id="style-2_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer"><div class="dt--top-section"><div class="row"><div class="col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center"><div class="dataTables_length" id="style-2_length"></div></div><div class="col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3"><div id="style-2_filter" class="dataTables_filter"><label><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></label></div></div></div></div><div class="table-responsive"><table id="style-2" class="table style-2 dt-table-hover dataTable no-footer" role="grid" aria-describedby="style-2_info" style="width: 1201px;">
                                        <thead>
                                            <tr role="row"><th class="sorting" tabindex="0" aria-controls="style-2" rowspan="1" colspan="1" aria-label="First Name: activate to sort column ascending" style="width: 104px;">Title</th><th class="sorting" tabindex="0" aria-controls="style-2" rowspan="1" colspan="1" aria-label="Members No.: activate to sort column ascending" style="width: 126px;">Members No.</th><th class="text-center sorting" tabindex="0" aria-controls="style-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 100px;">Status</th><th class="text-center sorting" tabindex="0" aria-controls="style-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 100px;">Action</th></tr>
                                        </thead>
                                        <tbody>
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                        <tr role="row" class="odd">
                                                
                                                <td>Team1</td>
                                                
                                                
                                                <td>10</td>
                                                
                                                <td class="text-center"><span class="shadow-none badge badge-primary">Active</span></td>
                                                <td class="text-center"><span class="shadow-none badge badge-warning">Edit</span></td>
                                                
                                            </tr>
                                        </tbody>
                                    </table></div></div>
                                </div>

{% endblock %}

{% block scripts %}
    <!--
    Custom Scripts
    ========================================
    You Can Add Some JavaScript Code After All Other Js Codes

    Example1 - Code Below, Must Be Paste Below This Comment:
    <script>console.log("Hello World!")</script>
    ========================================
    -->
{% endblock %}
